<ion-header>
  <ion-navbar>
    <ion-title>{{ "Upload New Document" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #docForm="ngForm" padding>
    <button *ngIf="lastImage == null" ion-button block outline color="gpsc" (click)="presentActionSheet()">
      {{ "Select Document" | translate }}
    </button>
    <ion-item>
      <ion-label>{{ "Expiry Date:" | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="docexp_date" name="docexp_date">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Select Doc Type" | translate }}</ion-label>
      <ion-select [(ngModel)]="docType" name="docType">
        <ion-option value="RC">{{ "RC" | translate }}</ion-option>
        <ion-option value="PUC">{{ "PUC" | translate }}</ion-option>
        <ion-option value="Insurance">{{ "Insurance" | translate }}</ion-option>
        <ion-option value="Licence">{{ "Driving Licence" | translate }}</ion-option>
        <ion-option value="Fitment">{{ "Fitment Certificate" | translate }}</ion-option>
        <ion-option value="Permit">{{ "Permit Certificate" | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="docType">
      <ion-label>{{docType}} {{ "Number" | translate }} </ion-label>
      <ion-input style="text-align: right;" type="text" [(ngModel)]="docname" name="docname"></ion-input>
    </ion-item>
    <ion-row *ngIf="lastImage !== null">
      <ion-col>
        <button ion-button block outline color="gpsc" (click)="uploadImage()">{{ "Upload Doc" | translate }}</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lastImage !== null" padding-left padding-right>
      <ion-col col-11>
        {{ "Selected Doc" | translate }} <span style="color: blue;">{{lastImage}}</span>
      </ion-col>
      <ion-col col-1 (click)="removeImg()" style="text-align: right;">
        <ion-icon name="close-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
